.wrap {
    width: 60%;
    margin: auto;
    background: lightsteelblue;


}

.content {
    width: 100%;
    margin: auto;
    background: darkslateblue;
    float: left;



}

aside {
    background: darkorchid;
    float: left;
    width: 20%;
    margin: auto;
}
aside ul {
    padding-left: 18px;
}
.tabs {
    list-style: none;

}
li {
    display: inline;
}
ul a {
    text-decoration: none;
    color: darkred;
    padding-right: 20px;
}

ul a:hover {
    text-decoration: underline;
    font-family: "Comic Sans MS",sans-serif;
    font-size: xx-large;
    color: chartreuse;
}
button {
    display: inline;
}
